@font-face {
    font-family: "Sora";
    src: url("../font/Sora-Bold.subset.AZaz09-space-symbols.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Sora";
    src: url("../font/Sora-Regular.subset.AZaz09-space-symbols.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Great Vibes";
    src: url("../font/GreatVibes-Regular.subset-AZa-z-0-9-punct.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}